h2#currentPlayer Player #{num}
- if (state == 2)
  h1 Player #{num} won!!!
  input(type='button', value='Find new game', onclick='findGame()')
- else if (num != turn)
  input#rollBut(type='button', value='Roll', onclick='go()')
  br
  input#holdBut(type='button', value='Hold', onclick='endTurn()')
  div#currentRoll
  div#turnScore
- else if (state == 0)
  p Oh that sucks. You rolled two ones. Your total score is now zero. Waiting for other player...
- else if (state == 1)
  p Nice try. You rolled a one. Your turn score is now zero. Waiting for other player...
- else
  p Waiting for other player to go...